/* Food.php */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fcontainer{
     width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}
.food-h{
    text-align: center;
    font-size: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   
}
.col-lg-3{
    border: 1px solid black;
    background-color: lavender;
    margin: 30px;
    height: 330px;
    width: 30%;
    border-radius: 50px;
    text-align: center;
    font-family: 'Baloo 2', cursive;

}
.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 5px;
}
.card-title{
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Baloo 2', cursive;
}
.card-text{
    color: green;
    font-size: 18px;
    padding-top: 5px;
    font-family: 'Baloo 2', cursive;
}
.box1-p{
    padding: 4px;
    font-family: 'Baloo 2', cursive;
}
.card-body .box1-p ul{
    list-style-type: none;
}
.card-body .box1-p ul li{
    text-align: left;
    /* padding-left: 75px; */
    font-family: 'Baloo 2', cursive;
    font-size: 15px;

}